﻿@model PPSSTC.Models.ViewModels.EventViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Add Event</strong>
    </div>
    @using (Html.BeginForm("Add", "Events", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;" }))
    {
        <div class="form-group" style="padding-top: 20px">
            <label>Event Name</label>
            @Html.TextBoxFor(x => x.Event.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Date</label>
            @Html.TextBoxFor(x => x.Event.Date, new { @class = "form-control", @id = "Date" })
        </div>

        <div class="form-group">
            <label>Venue</label>
            @Html.TextBoxFor(x => x.Event.Venue, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Unit Type</label>
            @Html.DropDownListFor(x => x.Event.CpdUnitType, Model.GetCpdUnitTypes(), new { @class = "form-control", id = "unitType" })
        </div>
        
        <div class="form-group" id="unitDiv">
            <label>Units</label>
            @Html.TextBoxFor(x => x.Event.CpdCredits, new { @class = "form-control", id = "unitValue" })
        </div>

        <div class="form-group">
            <label>Speakers</label>
            @Html.TextBoxFor(x => x.Event.Speakers, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Moderators</label>
            @Html.TextBoxFor(x => x.Event.Moderators, new { @class = "form-control" })
        </div>

        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-default">Add</button>
        </div>

    }
</div>
<script>
    $(function () {
        $("#Date").val('');
        $("#Date").datepicker({
            changeYear: true,
        });

        $('#UlohaString').change(function () {
            var ddlValue = $(this).val();

            if (ddlValue == "One" || ddlValue == "Two") {
                // show time div, hide fromTo div
                $('#time').show();
                $('#fromTo').hide();
            }
            else if (ddlValue == "Three") {
                // show fromTo div, hide time div
                $('#fromTo').show();
                $('#time').hide();
            }
        });

        $("#unitType").change(function ()
        {
            var value = $(this).val();

            if (value == "Units") {
                $("#unitDiv").show();
            }
            else {
                $("#unitDiv").hide();
                $("#unitValue").val("");
            }
        });
    });
</script>