﻿@model int
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default" style="text-align:center">
   <h1 style="margin:0 auto;padding:30px;">
       You've successfully logged in.
   </h1>
     <a href="@Url.Action("Start", new {@id = Model })" class="btn btn-default" style="margin:20px;">Back to start</a>
</div>

