﻿@model PPSSTC.Models.ViewModels.EventViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Edit Event</strong>
    </div>
    @using (Html.BeginForm("Edit", "Events", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;" }))
    {
        @Html.HiddenFor(x => x.Event.Id)
        <div class="form-group" style="padding-top: 20px">
            <label>Event Name</label>
            @Html.TextBoxFor(x => x.Event.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Date</label>
            @Html.TextBoxFor(x => x.Event.Date, new { @class = "form-control", @id = "Date" })
        </div>

        <div class="form-group">
            <label>Venue</label>
            @Html.TextBoxFor(x => x.Event.Venue, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Unit Type</label>
            @Html.DropDownListFor(x => x.Event.CpdUnitType, Model.GetCpdUnitTypes(), new { @class = "form-control", id = "unitType" })
        </div>

        <div class="form-group"  id="unitDiv">
            <label>Units</label>
            @Html.TextBoxFor(x => x.Event.CpdCredits, new { @class = "form-control", id = "unitValue" })
        </div>

        <div class="form-group">
            <label>Speakers</label>
            @Html.TextBoxFor(x => x.Event.Speakers, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Moderators</label>
            @Html.TextBoxFor(x => x.Event.Moderators, new { @class = "form-control" })
        </div>

        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-default">Edit</button>
        </div>

    }
</div>
<script>
    $(function () {

        $("#Date").datepicker({

            changeYear: true,
        });

        var unitTypeValue = "@Model.Event.CpdUnitType.ToString()";

        console.log(unitTypeValue);
        $("#unitType").val(unitTypeValue).change();

        if (unitTypeValue == "Units") {
            $("#unitDiv").show();
        }
        else {
            $("#unitDiv").hide();
        }

        $("#deceasedCheckBox").change(function () {
            var isDeceased = $(this).is(":checked");

            if (isDeceased) {
                $("#deceasedDateDiv").show();
            }
            else {
                $("#deceasedDateDiv").hide();
            }
        });

        $("#unitType").change(function () {
            var unitType = $(this).val();

            if (unitType == "Units") {
                $("#unitDiv").show();
            }
            else {
                $("#unitDiv").hide();
                $("#unitValue").val("");
            }
        });

    });
</script>