﻿@model List<PPSSTC.Models.CpdEvent>
@{
    Layout = "~/Views/_Layout.cshtml";
}

    <div class="searchBox">
        <div class="container">
           
        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon"></strong>
    </div>
    <div class="panel-body">
         <a type="button" class="btn" style="display: inline" href="@Url.Action("Add", "Events")">Add Event</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Cpd Events</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            @if (Model != null && Model.Any())
            {
            <div class="row mobile">
                <div class="col-md-7"><strong>Name</strong></div>
                <div class="col-md-5"></div>
            </div>
                foreach (var cpdevent in Model)
                {
                <div class="row rowdata">
                    <div class="col-md-7">@cpdevent.Name</div>
                    <div class="col-md-5">
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Start", "Events", new { @id = cpdevent.Id.Split('/')[1] })">Start</a>
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Upload", "Events", new { @id = cpdevent.Id.Split('/')[1] })">Upload</a>
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Edit", "Events", new { @id = cpdevent.Id.Split('/')[1] })">Edit</a>
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("ExportData", "Events", new { @id = cpdevent.Id.Split('/')[1] })">Report</a>
                        <a type="button" class="btn delete" data-name="@cpdevent.Name" data-id="@cpdevent.Id" style="display: inline" href="#">Delete</a>
                    </div>
                </div>
            
                }
            }
            else
            {
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        There are no events yet. Click the Add Event button to get started.
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <label id="deleteText"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="@Url.Action("Delete")" method="post">
                        <input type="hidden" name="id" id="idToDelete" />
                        <input type="submit" class="btn btn-primary" id="deleteConfimButton" value="Delete"></input>

                        <button type="button" class="btn btn-danger" id="deleteCancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".rowdata:even").css("background-color", "rgb(245, 245, 245)");
    $(".delete").on("click", function (e) {
        $("#deleteText").text("Are you sure you want to delete: " + $(this).data("name"));
        $("#idToDelete").val($(this).data("id"));
        $("#deleteConfirm").modal("show");
    });
</script>