﻿@model PPSSTC.Models.CpdEvent
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">@Model.Name</strong>
    </div>
    @using (Html.BeginForm("NonMemberLogin", "Events", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;" }))
    {
        @Html.HiddenFor(x => x.Id);
        <div class="form-group" style="padding-top: 20px">
            <label>First Name</label>
            <input type="text" name="FirstName" class="form-control" placeholder="First Name" />
        </div>
        <div class="form-group" style="padding-top: 20px">
            <label>Middle Name</label>
            <input type="text" name="MiddleName" class="form-control" placeholder="Middle Name" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="LastName" class="form-control" placeholder="Last Name" />
        </div>
        
        <div class="form-group">
            <label>PRC Number</label>
            <input type="text" name="PRC" class="form-control" placeholder="PRC Number" />
        </div>
        
        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    }
</div>