﻿@model PPSSTC.Models.CpdEvent
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="maroon">@Model.Name</h3>
    </div>
    @using (Html.BeginForm("Login", "Events", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;",@id="loginForm" }))
    {
    @Html.HiddenFor(x => x.Id)
    <div class="form-group" style="padding-top: 20px;max-width:600px;margin:0 auto;">
        <label>PPSSTC Member login</label>
        <input type="text" id="prcnumber" name="prcnumber" placeholder="PRC Number" class="form-control">
    </div>
        
            <div class="form-group" style="text-align: center">
        <div class="btn btn-default" id="memberLogin" style="margin-top:20px">Log in</div>
    </div>
    }
    <div class="form-group" style="text-align: center">
        <label>Non-member log in</label><br />
       <a href="@Url.Action("NonMemberLogin", new {@id = Model.Id.Split('/')[1] })" class="btn btn-default">Non member login</a>
    </div>

</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm correct login</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="doctorName" readonly="readOnly" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmCorrect" type="button" class="btn btn-primary">Yes</button>
                <button id="confirmWrong" type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#confirmCorrect").on("click", function (e) {
        $("#loginForm").submit();
        $("#confirmModal").modal("hide");
    })
    $("#confirmWrong").on("click", function (e) {
        $("#confirmModal").modal("hide");
    })
    $("#memberLogin").on("click", function (e) {
        $.get("@Url.Action("LookUpPrc")", { prcnumber: $("#prcnumber").val() }, function (result) {
            console.log(result);
            if (result.Success) {
                $("#doctorName").val(result.Message);
                $("#confirmModal").modal("show");
            } else {
                alert(result.Message)
            }

        });
    });

</script>