﻿@model PPSSTC.Models.CpdEvent
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="maroon">@Model.Name</h3>
    </div>
    @using (Html.BeginForm("Upload", "Events", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;", @id = "loginForm", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Id)
        <div class="form-group" style="padding-top: 20px; max-width: 600px; margin: 0 auto;">
            <label>Upload Member Attendance</label>
            <p>
                This might take a while depending on the size of the file being uploaded. While its in progress do not close your browser. 
            </p>
            <p>
                When the upload has completed a page showing the results will be shown.
            </p>
            <input type="file" id="File" name="File">
        </div>
        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-default" id="memberLogin" style="margin-top: 20px">Start Upload</button>
        </div>
    }



</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">This will start the upload of the members</h4>
                When the upload has completed a page showing the results will be shown.
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="doctorName" readonly="readOnly" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmCorrect" type="button" class="btn btn-primary">Yes</button>
                <button id="confirmWrong" type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#confirmCorrect").on("click", function (e) {
        $("#loginForm").submit();
        $("#confirmModal").modal("hide");
    })
    $("#confirmWrong").on("click", function (e) {
        $("#confirmModal").modal("hide");
    })

</script>
