﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PPSSTC</title>
    <link href="~/css/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body style="background-color: rgb(245, 245, 245);font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;">
    <div>
        @if (User != null && User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="color: rgb(225, 223, 223); padding-top:5px;">
                            <img src="~/css/images/dblogo.png"/>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            @if (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role")
                            .Value != "administrator")
                            {
                                <li>
                                    <a href="@Url.Action("Details", "Members", new {@id="" })">My Profile</a>
                                </li>
                            }
                            @if (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role")
                            .Value == "administrator")
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Events", new {@id="" })">Events</a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("Index", "Members")">Members</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "TbRegistry")">TB Registry</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOut", "Home")">Log out</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        }
        @RenderBody()
    </div>
    <script>
        $("form").validate();
</script>
</body>
</html>
