﻿@model PPSSTC.Models.ViewModels.EditMemberModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Add Member</strong>
    </div>
    @using (Html.BeginForm("Add", "Members", FormMethod.Post, new { @style = "max-width:650px;margin: 0 auto;" }))
    {
        @Html.HiddenFor(x => x.Member.Id)
        <div class="form-group" style="padding-top: 20px">
            <label>First Name</label>
            @Html.TextBoxFor(x => x.Member.FirstName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Middle Name</label>
            @Html.TextBoxFor(x => x.Member.MiddleName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Last Name</label>
            @Html.TextBoxFor(x => x.Member.LastName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Year inducted at PPSSTC</label>
            @Html.TextBoxFor(x => x.Member.YearInducted, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>PRC Number</label>
            @Html.TextBoxFor(x => x.Member.PRC, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>PMA Number</label>
            @Html.TextBoxFor(x => x.Member.PMA, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Philhealth Accreditation Number</label>
            @Html.TextBoxFor(x => x.Member.PhilHealth, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Status</label>
            @Html.DropDownListFor(x => x.Member.Status, Model.GetStatuses(), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Subspecialty</label>
            @Html.DropDownListFor(x => x.Member.Subspecialty, Model.GetSubspecialties(), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Area</label>
            @Html.DropDownListFor(x => x.Member.Area, Model.GetAreas(), new { @class = "form-control", @id = "areaDropdown" })
        </div>

        <div class="form-group">
            <label>Subarea</label>
            @Html.DropDownListFor(x => x.Member.SubArea, Model.GetSubAreas(Model.Member.Area), new { @class = "form-control", @id = "subAreaDropdown" })
        </div>

        <div class="form-group">
            <label>Date of Birth</label>
            @Html.TextBoxFor(x => x.Member.DateOfBirth, new { @class = "form-control", @type = "date" })
        </div>

        <div class="form-group" style="padding-top: 20px">
            <label for="deceasedCheckBox" style="padding-right: 5px">Deceased</label>
            @Html.CheckBoxFor(x => x.Member.Deceased, new { @style = "vertical-align: top;", @id = "deceasedCheckBox" })
        </div>

        <div class="form-group" id="deceasedDateDiv">
            <label>Date of Death</label>
            @Html.TextBoxFor(x => x.Member.DateDeceased, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Email</label>
            @Html.TextBoxFor(x => x.Member.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Mobile</label>
            @Html.TextBoxFor(x => x.Member.MobileNumber, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Masteral and Post Graduate Courses (Academic and Non Academic) and Others</label>
            @Html.TextAreaFor(x => x.Member.Comments, new { @class = "form-control" })
        </div>

        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-default">Add</button>
        </div>

    }
</div>
<script>
    $(function () {
        $("#deceasedDateDiv").hide();

        $("#deceasedCheckBox").change(function () {
            var isDeceased = $(this).is(":checked");

            if (isDeceased) {
                $("#deceasedDateDiv").show();
            }
            else {
                $("#deceasedDateDiv").hide();
            }
        });

        $("#areaDropdown").change(function () {
            var areaValue = $(this).val();

            var subAreas = getSubAreas(areaValue);
            console.log(subAreas);

            var subAreaDropDown = subAreas.map(subArea => {
                return $("<option></option>").val(subArea.value).prop("selected", subArea.selected).text(subArea.text);
            });

            $("#subAreaDropdown").html(subAreaDropDown);
        });

        function getSubAreas(area) {
            var subAreas = [];

            if (area == "Laguna_MLP") {
                subAreas = 
                [
                    { text: "Laguna Proper", value: "Laguna_Proper", selected: true },
                    { text: "Muntinlupa", value: "Muntinlupa", selected: false },
                    { text: "Las Pinas", value: "Las_Pinas", selected: false },
                    { text: "Paranaque", value: "Paranaque", selected: false }
                ];
            }
            else if (area == "Island_Provinces") {
                subAreas = 
                [
                    { text: "Oriental Mindoro", value: "Oriental_Mindoro", selected: true },
                    { text: "Occidental Mindoro", value: "Occidental_Mindoro", selected: false },
                    { text: "Marinduque", value: "Marinduque", selected: false},
                    { text: "Romblon", value: "Romblon", selected: false },
                    { text: "Palawan", value: "Palawan", selected: false },
                ];
            }
            else {
                subAreas = 
                [
                    { text: "No subarea/s available", value: null, selected: true },
                ];
            }
            return subAreas;
        }
    });
</script>

