﻿@model PPSSTC.Models.ViewModels.MemberDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    strong {
        display: block;
    }

    .memberSpan {
        display: block;
        padding-bottom: 10px;
    }
</style>
@{
    var loggedinUserOrAdmin = (Request.Cookies["memberId"] != null && Request.Cookies["memberId"].Value.Equals(Model.Member.Id)) || (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role").Value == "administrator");
}
<div class="page-header" style="text-align: center">
    <h1 class="maroon">@Model.Member.LastName, @Model.Member.FirstName @Model.Member.MiddleName</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
       <strong class="maroon"><i class="fa fa-user" aria-hidden="true"></i> Member Information</strong>
    </div>
    <div class="panel-body">
        <span class="memberSpan"><strong>Year inducted at PPSSTC:</strong>@Model.Member.YearInducted</span>
        <span class="memberSpan"><strong>PRC:</strong>@Model.Member.PRC</span>
        <span class="memberSpan"><strong>PMA:</strong>@Model.Member.PMA</span>
        <span class="memberSpan"><strong>PhilHealth:</strong>@Model.Member.PhilHealth</span>
        <span class="memberSpan"><strong>Status:</strong>@Model.Member.Status.ToString().Replace("_", " ")</span>
        <span class="memberSpan"><strong>Subspecialty:</strong>@Model.Member.Subspecialty.ToString().Replace("_", " ")</span>
        <span class="memberSpan"><strong>Area:</strong>@Model.Member.AreaToReadableString(Model.Member.Area)</span>
        <span class="memberSpan"><strong>Subarea:</strong>@(Model.Member.SubArea == null ? "N/A" : Model.Member.SubArea.ToString().Replace("_", " "))</span>
        <span class="memberSpan"><strong>Date of Birth:</strong>@(Model.Member.DateOfBirth != DateTime.MinValue ? Model.Member.DateOfBirth.ToShortDateString() : "")</span>
        <span class="memberSpan" id="dateOfDeathTxt"><strong>Date of Death:</strong>@Model.Member.DateDeceased</span>
        <span class="memberSpan"><strong>Email:</strong>@Model.Member.Email</span>
        <span class="memberSpan"><strong>Mobile Number:</strong>@Model.Member.MobileNumber</span>
        <span class="memberSpan"><strong>Masteral and Post Graduate Courses (Academic and Non Academic) and Others:</strong>@Model.Member.Comments</span>
        @if (loggedinUserOrAdmin)
        {
            <a type="button" class="btn btn-danger navbar-btn" href="@Url.Action("Edit", new { @id = Model.Member.Id.Split('/')[1] })">Edit</a>
        }
    </div>
</div>

@if (loggedinUserOrAdmin) { 
    <div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon"><i class="fa fa-calendar" aria-hidden="true"></i> CPD Credits</strong>
    </div>
    <div class="panel-body">
        @{var lastyear = 0;}
        @if (Model.CpdUnits != null && Model.CpdUnits.Any())
        { 
            foreach (var cpdUnit in Model.CpdUnits)
            {

                {
                    float total = 0;
                    // First will always work because of groupby
                    var currentyear = cpdUnit.Value.First().Date.Year;


                    if (currentyear != lastyear)
                    {
                        lastyear = currentyear;
                        <h4>@currentyear</h4>
                    }
                    <span><b>@cpdUnit.Key.Substring(7)</b></span><br/>
                    foreach (var units in cpdUnit.Value)
                    {
                        <span>@units.Name - @(units.UnitType == PPSSTC.Models.CpdUnitType.Units ? units.Units.ToString() : Model.GetSelectedCpdUnitType(units.UnitType))</span><br/>
                        total += units.UnitType == PPSSTC.Models.CpdUnitType.Units && units.Units.HasValue ? units.Units.Value : 0;

                    }
                <span>Total - @total</span><br/><br/>
                }
            }
        }else{
            <h4>No CPD credits on record</h4>
        }
        
    </div>
</div>
}

@if (loggedinUserOrAdmin)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon"><i class="fa fa-money" aria-hidden="true"></i> Payment History</strong>
        </div>
        <div class="panel-body">
            @if (Model.Member.PaymentInfo != null && Model.Member.PaymentInfo.Any())
            {
                <h4>Paid for the following years</h4>
                <ul>
                    @foreach (var info in Model.Member.PaymentInfo.OrderByDescending(y => y.Year))
                    {
                    <li>
                        <strong>@(info.Year == null ? "exempted" : info.Year.ToString())</strong>
                    </li>
                    }
                </ul>
            }
            else
            { 
                <h4>No payment history on record</h4>
            }
        </div>
    </div>
}
<script>
    $(function () {
        var isDeceased = ("@Model.Member.Deceased" == 'True');
        console.log(isDeceased);
        if (isDeceased) {
            $("#dateOfDeathTxt").show();
        }
        else {
            $("#dateOfDeathTxt").hide();
        }
    });
</script>


