﻿@model PPSSTC.Models.ViewModels.MemberListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    @@media (max-width: 991px) {
        .mobile {
            display: none !important;
        }
    }
</style>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<div class="page-header">
    @if (HttpContext.Current.Request.Cookies.Get("role").Value == "administrator")
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="maroon"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Admin Functions</strong>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <a type="button" class="btn" style="display: inline" href="@Url.Action("Add", "Members")"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Add new member</a>
                            <a type="button" class="btn" style="display: inline" id="addAdministrator" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Add new administrator</a>
                            <a type="button" class="btn" style="display: inline" id="addAdminPayment" href="#"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp; Add payment</a>
                            <a type="button" class="btn" style="display: inline" id="export" href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Generate Report</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Search Members</strong>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                @using (Html.BeginForm("Search", "Members", FormMethod.Get, new { @id = "searchForm" }))
                {
                    @Html.HiddenFor(x => x.Page, new { @id = "page" })
                    <div class="row">
                        <div class="col-md-2">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeHolder = "Name" })
                        </div>
                        <div class="col-md-2">
                            @{
                                var statuses = Model.GetStatuses();
                                statuses.Insert(0, new SelectListItem
                                {
                                    Selected = true,
                                    Text = "Select Status",
                                    Value = null
                                });
                            }
                            @Html.DropDownListFor(x => x.Status, statuses, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @{
                                var areas = Model.GetAreas();
                                areas.Insert(0, new SelectListItem
                                {
                                    Selected = true,
                                    Text = "Select Area",
                                    Value = null
                                });
                            }
                            @Html.DropDownListFor(x => x.Area, areas, new { @class = "form-control", @id = "areaDropdown" })
                        </div>
                        <div class="col-md-2">
                            @{
                                var subAreas = Model.GetSubAreas();
                                subAreas.Insert(0, new SelectListItem
                                {
                                    Selected = true,
                                    Text = "Select Subarea",
                                    Value = null
                                });
                            }
                            @Html.DropDownListFor(x => x.SubArea, subAreas, new { @class = "form-control", @id = "subAreaDropdown" })
                        </div>
                        <div class="col-md-2">
                            @{
                                var subspec = Model.GetSubspecialties();
                                subspec.Insert(0, new SelectListItem
                                {
                                    Selected = true,
                                    Text = "Select Subspecialty",
                                    Value = null
                                });
                            }
                            @Html.DropDownListFor(x => x.Subspecialty, subspec, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @if (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role")
                            .Value == "administrator")
                            {
                                @Html.TextBoxFor(x => x.Year, true, null, new { @class = "form-control", @placeHolder = "Unpaid for year" })
                                @Html.ValidationMessageFor(x => x.Year)
                            }
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" id="search" style="float: right">Search</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div id="notifications">
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp Member List</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row mobile">
                <div class="col-md-3"><strong>Name</strong></div>
                <div class="col-md-1"><strong>PMA</strong></div>
                <div class="col-md-1"><strong>PRC</strong></div>
                <div class="col-md-1"><strong>Status</strong></div>
                <div class="col-md-1"><strong>Area</strong></div>
                <div class="col-md-1"><strong>Subarea</strong></div>
                <div class="col-md-2"><strong>Subspecialty</strong></div>
                <div class="col-md-2"></div>
            </div>
            @foreach (var member in Model.Members)
            {
                <div class="row rowdata">
                    <div class="col-md-3">@member.LastName, @member.FirstName @member.MiddleName</div>
                    <div class="col-md-1">@member.PMA</div>
                    <div class="col-md-1">@member.PRC</div>
                    <div class="col-md-1">@member.Status.ToString().Replace("_", " ")</div>
                    <div class="col-md-1">@Model.AreaToReadableString(member.Area)</div>
                    <div class="col-md-1">@(member.SubArea == null ? "N/A" : member.SubArea.ToString().Replace("_", " "))</div>
                    <div class="col-md-2">@member.Subspecialty.ToString().Replace("_", " ")</div>
                    <div class="col-md-2">
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Details", "Members", new { @id = member.Id.Split('/')[1] })">View Profile</a>
                        @if (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role")
                            .Value == "administrator")
                        {
                            <a type="button" class="btn" style="display: inline" href="@Url.Action("Edit", "Members", new { @id = member.Id.Split('/')[1] })">Update Profile</a>
                            <a type="button" class="btn addCpd" data-name="@member.FirstName @member.MiddleName @member.LastName" data-id="@member.Id" style="display: inline" href="#">Add CPD Units</a>
                            <a type="button" class="btn addPayment" data-name="@member.FirstName @member.MiddleName @member.LastName" data-id="@member.Id" style="display: inline" href="#">Add Payment</a>
                            <a type="button" class="btn delete" data-name="@member.FirstName @member.MiddleName @member.LastName" data-id="@member.Id" style="display: inline" href="#">Delete Member</a>
                        }
                    </div>
                </div>

            }
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    @{
                        var start = Model.Page != 1 ? ((Model.Page - 1) * Model.PageSize) + 1 : 1;
                        var end = Model.Page != 1 ? ((Model.Page) * Model.PageSize) : Model.PageSize;
                    }
                    Showing results: @start ~ @end of @Model.TotalCount
                </div>
            </div>
            <div class="row">
                <nav>
                    <ul class="pager">
                        <li class="previous" id="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous</a></li>
                        <li class="next" id="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- Banner -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCpdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addCpdModalLabel">Add CPD Units</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="cpdNames" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="cpdDate" placeholder="date" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="cpdUnits" placeholder="units" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="addCpdNameButton">Add CPD Event Name</button>
                <button type="button" class="btn btn-primary" id="addCpdUnits">Add CPD Units</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCpdName" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add CPD name</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="newCpdName" placeholder="CPD Name" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addNewCpdNameButton">Add new CPD name</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <label id="deleteText"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="@Url.Action("Delete")" method="post">
                        <input type="hidden" name="id" id="idToDelete" />
                        <input type="submit" class="btn btn-primary" id="deleteConfimButton" value="Delete"></input>

                        <button type="button" class="btn btn-danger" id="deleteCancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPayment" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addPaymentLabel">Add Payment</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <select id="paymentYear" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addpaymentbutton" type="button" class="btn btn-primary">Add Payment</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAdministratorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add new administrator</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="username" id="username" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="password" id="password" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addAdministratorbutton" type="button" class="btn btn-primary">Add administrator</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 680px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Payment</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="max-width: 650px">
                    <div class="row">
                        <div>

                            @using (Html.BeginForm("Upload", "Members", FormMethod.Post, new { @id = "uploadForm", enctype = "multipart/form-data" }))
                            {
                                <select id="paymentYearAdmin" name="year" class="form-control">
                                </select>

                                <div class="form-group" style="padding-top: 20px; max-width: 650px; margin: 0 auto;">
                                    <p>
                                        This might take a while depending on the size of the file being uploaded. While its in progress do not close your browser.
                                    </p>
                                    <p>
                                        When the upload has completed a page showing the results will be shown.
                                    </p>
                                    <input type="file" id="File" name="File">
                                </div>
                                <div class="form-group" style="text-align: center">
                                    <button type="submit" class="btn btn-default" id="uploadPayment" style="margin-top: 20px">Start Upload</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="selectedMember">

<script>
    $(function () {
        function initializeYeardropdown() {
            var currentYear = new Date().getFullYear();
            var maxYear = currentYear + 2;

            $("#paymentYear").append('<option value="null">exempted</option>');

            for (var startYear = new Date("2016").getFullYear(); startYear <= maxYear; startYear++) {
                if (startYear == currentYear) $("#paymentYear").append('<option selected value=' + (startYear) + '>' + (startYear) + '</option>');
                else $("#paymentYear").append('<option value=' + (startYear) + '>' + (startYear) + '</option>');
            }
        }

        function initializeAdminYeardropdown() {
            var currentYear = new Date().getFullYear();
            var maxYear = currentYear + 2;

            $("#paymentYearAdmin").append('<option value="null">exempted</option>');

            for (var startYear = new Date("2016").getFullYear(); startYear <= maxYear; startYear++) {
                if (startYear == currentYear) $("#paymentYearAdmin").append('<option selected value=' + (startYear) + '>' + (startYear) + '</option>');
                else $("#paymentYearAdmin").append('<option value=' + (startYear) + '>' + (startYear) + '</option>');
            }
        }

        initializeAdminYeardropdown();
        initializeYeardropdown();

        $("#cpdDate").datepicker({
            changeYear: true,
        });

        $("#search").on("click", function () {
            $("#page").val("1");
        })

        $("#previous").on("click", function (e) {
            var currentPage = $("#page").val();
            if (currentPage != 1) {
                currentPage--;
            }
            $("#page").val(currentPage);
            $("#searchForm").submit();
        });

        $("#next").on("click", function (e) {
            var currentPage = $("#page").val();
            currentPage++;
            $("#page").val(currentPage);
            $("#searchForm").submit();
        });

        $(".rowdata:even").css("background-color", "rgb(245, 245, 245)")

        $(".addCpd").on("click", function (e) {
            $("#addCpdModalLabel").text("Add CPD Units: " + $(this).data("name"));
            $("#selectedMember").val($(this).data("id"))
            $.get("@Url.Action("Index", "CpdName")", function (result) {
                $("#cpdNames").empty();
                $.each(result.Names, function (index, val) {
                    $("#cpdNames").append(
                        $('<option></option>').val(val).html(val)
                    );
                });
            });
            $("#addCpdModal").modal("show");
        });

        $("#addAdministrator").on("click", function (e) {
            $("#addAdministratorModal").modal("show");
        });

        $("#addAdminPayment").on("click", function (e) {
            $("#addPaymentModal").modal("show");
        });

        $("#addCpdNameButton").on("click", function (e) {
            $("#addCpdModal").modal("hide");
            $("#addCpdName").modal("show");
        });

        $(".addPayment").on("click", function (e) {
            $("#addPaymentLabel").text("Add Payment: " + $(this).data("name"));
            $("#selectedMember").val($(this).data("id"))
            $("#addPayment").modal("show");
        });

        $(".delete").on("click", function (e) {
            $("#deleteText").text("Are you sure you want to delete: " + $(this).data("name"));
            $("#idToDelete").val($(this).data("id"))

            $("#deleteConfirm").modal("show");
        });
        $("#deleteCancel").on("click", function (e) {
            $("#deleteConfirm").modal("hide");
        });


        $("#addAdministratorbutton").on("click", function (e) {
            $.post("@Url.Action("Create", "Administrator")", { username: $("#username").val(), password: $("#password").val() }, function (result) {
                $("#addAdministratorModal").modal("hide");
                showNotification(result)
            });
        });


        $("#addCpdUnits").on("click", function (e) {
            //string id,DateTime date,string name,int units
            var year = $("#paymentYear").val();
            $.post("@Url.Action("AddCpdUnits")", { id: $("#selectedMember").val(), date: $("#cpdDate").val(), name: $("#cpdNames").val(), units: $("#cpdUnits").val() }, function (result) {
                $("#addCpdModal").modal("hide");
                showNotification(result)
            });
        });

        $("#export").on("click", function (e) {
            var oldLink = $("#searchForm").attr("action");
            $("#searchForm").attr("action", "@Url.Action("ExportData")");
            $("#searchForm").submit();
            $("#searchForm").attr("action", oldLink);
        });

        $("#addpaymentbutton").on("click", function (e) {
            var year = $("#paymentYear").val();
            $.post("@Url.Action("AddPayment")", { id: $("#selectedMember").val(), year: year }, function (result) {
                $("#addPayment").modal("hide");
                showNotification(result)
            });
        });

        $("#addNewCpdNameButton").on("click", function (e) {
            var cpdName = $("#newCpdName").val();
            $.post("@Url.Action("Add", "CpdName")", { name: cpdName }, function (result) {
                $("#addCpdName").modal("hide");
                showNotification(result)
            });
        });

        $("#areaDropdown").change(function () {
            var areaValue = $(this).val();

            var subAreas = getSubAreas(areaValue);
            console.log(subAreas);

            var subAreaDropDown = subAreas.map(subArea => {
                return $("<option></option>").val(subArea.value).prop("selected", subArea.selected).text(subArea.text);
            });

            $("#subAreaDropdown").html(subAreaDropDown);
        });

        function showNotification(notification) {
            var type = "danger";
            if (notification.Success == true || notification.Success == "true") {
                type = "success";
            }

            $("#notifications").append('<div class="alert alert-' + type + ' alert-dismissible" role="alert" id="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong id="successMessage">' + notification.Message + '</strong></div>')
            setTimeout(function () { $("#alert").fadeOut(500, function () { $("#alert").remove(); }); }, 3000);
        }

        function getSubAreas(area) {
            var subAreas = [];

            if (area == "Laguna_MLP") {
                subAreas =
                    [
                        { text: "Select Subarea", value: "Select Subarea", selected: true },
                        { text: "Laguna Proper", value: "Laguna_Proper", selected: false },
                        { text: "Muntinlupa", value: "Muntinlupa", selected: false },
                        { text: "Las Pinas", value: "Las_Pinas", selected: false },
                        { text: "Paranaque", value: "Paranaque", selected: false }
                    ];
            }
            else if (area == "Island_Provinces") {
                subAreas =
                    [
                        { text: "Select Subarea", value: "Select Subarea", selected: true },
                        { text: "Oriental Mindoro", value: "Oriental_Mindoro", selected: false },
                        { text: "Occidental Mindoro", value: "Occidental_Mindoro", selected: false },
                        { text: "Marinduque", value: "Marinduque", selected: false },
                        { text: "Romblon", value: "Romblon", selected: false },
                        { text: "Palawan", value: "Palawan", selected: false },
                    ];
            }
            else {
                subAreas =
                    [
                        { text: "No subarea/s available", value: null, selected: true },
                    ];
            }
            return subAreas;
        }

    });
</script>
