﻿@model PPSSTC.Models.MemberUploadResult
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default" style="text-align: center">
    @if (string.IsNullOrEmpty(Model.Error) && !Model.FailedUploads.Any())
    {
        <h1 style="margin: 0 auto; padding: 30px;">Upload completed successfully</h1>
        <label>@Model.SuccessfulUploads were successfully added</label> <br />

        <a href="@Url.Action("Index")" class="btn btn-default" style="margin:20px;">Back to Members</a>
    }

    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <h1 style="margin: 0 auto; padding: 30px;">An error occurred</h1>
        <label>@Model.Error</label> <br />
        <label>To try again press back on your browser and try again.</label>
    }

    @if (Model.FailedUploads != null)
    {
        if (Model.FailedUploads.Any())
        {
            <h1 style="margin: 0 auto; padding: 30px;">Upload partially completed</h1>
            <label>@Model.SuccessfulUploads were successfully added</label> <br />

            <label>The following were not successfully uploaded</label> <br />
            <ul>
                @foreach (var error in Model.FailedUploads)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        }
    }
</div>

