﻿@model PPSSTC.Controllers.LoginModel
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .navbar {
        display: none;
    }

    .container {
        max-width: 500px;
        margin-top: 150px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
    }

    .loginLabel {
        font-size: 10px;
        color: gray;
    }
</style>


<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        <img src="~/css/images/logobig.png" />
        <h3>Welcome to the Philippine Pediatric Society Southern Tagalog Chapter</h3>
        <h3>Member Database and TB Registry</h3>
        <br />
        
        <h4 class="form-signin-heading">Please sign in</h4>
        <label for="inputEmail" class="loginLabel">Username</label>
        @Html.TextBoxFor(x => x.username, new { @class = "form-control", @placeholder = "Username", @style = "margin-bottom:10px;width:300px;margin: 0 auto;" })
        <label for="inputPassword" style="margin-top: 20px" class="loginLabel">Password</label>
        @Html.PasswordFor(x => x.password, new { @class = "form-control", @placeholder = "Password", @style = "margin-bottom:10px;width:300px;margin: 0 auto;" })
        <div style="width: 200px; margin: 0 auto;">
            <button class="btn btn-lg btn-danger btn-block" style="margin-bottom: 20px; margin-top: 20px" type="submit">Sign in</button>
        </div>
        
        <div id="notifications" style="margin-right: auto; margin-left: auto; margin-top: 0px;">
            @if (TempData["error"] != null)
            { 
                <div class="alert alert-danger alert-dismissible" role="alert" id="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong id="successMessage">@TempData["error"].ToString()</strong></div>
            }
        </div>
    }
</div>
