﻿
body {
font-family: 'Source Sans Pro', sans-serif;
}

.form-signin {
    max-width: 450px;
    margin: 0 auto;
}

.error {
    font-weight: inherit;
    font-size: smaller;
    color: red;
    border-color: red;
}

.searchBox {
    margin: 0 auto;
    max-width: 900px;
}

.ui-widget-header {
border: 1px solid rgba(157, 0, 0, 1);
border-bottom-width: thick;
background-color: white;
font-weight: bold;
color:black;
}

.panel {
max-width: 990px;
box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
margin: 0 auto 20px;
}