﻿@model PPSSTC.Models.ViewModels.TbPatientViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
@using (Html.BeginForm("Edit", "TbRegistry", new { @id = Model.Patient.Id.Split('/')[1] }, FormMethod.Get, new { @style = "margin: 0 auto;" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Demographics</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            @Html.HiddenFor(x => x.Patient.Id)
            <div class="form-group" style="padding-top: 20px">
                <label>First Name</label><br />
                @Model.Patient.FirstName
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Middle Name</label><br />
                @Model.Patient.MiddleName
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Last Name</label><br />
                @Model.Patient.LastName
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Age</label><br />
                @Model.Patient.Age
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Birthday</label><br />
                @Model.Patient.Birthday.ToShortDateString()
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Gender</label><br />@Model.Patient.Gender
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Residence</label>
                @Html.DropDownListFor(x => x.Patient.Residence, Model.GetArea(), new { @class = "form-control", @id = "residence", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>

            @if (!string.IsNullOrEmpty(Model.Patient.ResidenceText))
            { 
                <div class="form-group" style="padding-top: 20px;" id="residenceTextDiv">
                    <label>If others, please specify:</label><br />
                    @Model.Patient.ResidenceText
                </div>
            }

            <div class="form-group" style="padding-top: 20px">
                <label>Attending Physician:</label><br />
                @Model.Patient.DoctorName
            </div>
            @if (!string.IsNullOrEmpty(Model.Patient.Comments))
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label>Comments</label><br />
                    @Model.Patient.Comments
                </div>
            }
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">History</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>Exposure</label>
                @Html.DropDownListFor(x => x.Patient.Exposure, Model.GetExposure(), new { @class = "form-control", @id = "exposure", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            @if (!string.IsNullOrEmpty(Model.Patient.ExposureText))
            { 
                <div class="form-group" style="padding-top: 20px;" id="exposureTextDiv">
                    <label>If yes, please specify</label><br />
                    @Model.Patient.ExposureText
                </div>
            }

            <div class="form-group" style="padding-top: 20px">
                <label>Disease onset:</label><br />
                @Model.Patient.DiseaseOnset.ToShortDateString()
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Symptoms</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            @if (Model.Patient.Cough)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Persistent cough/wheezing of 2 weeks or more</label>
                </div>
            }
            @if (Model.Patient.Fever)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Unexplained fever (>38C) or 2 weeks or more</label>
                </div>
            }
            @if (Model.Patient.LossOfAppetite)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Loss of appetite or failure to gain weight</label>
                </div>
            }
            @if (Model.Patient.FailureToRespondToAntibiotics)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Failure to repsond to 2 weeks of appropriate antibiotic therapy for lower respiratory tract infection</label>
                </div>
            }
            @if (Model.Patient.FailureToRegainStateOfHealth)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Failure to regain previous state of health 2 weeks after viral infection or exanthem</label>
                </div>
            }
            @if (Model.Patient.Fatigue)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Fatigue or reduced playfulness or lethargy</label>
                </div>
            }
            @if (Model.Patient.AbnominalSwelling)
            { 

                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Abdominal swellings, hard painless mass and free fluid</label>
                </div>
            }
            @if (Model.Patient.BoneOrJointLesions)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">Boint or Join Lesions</label>
                </div>
            }

            @if (Model.Patient.CnsSymptoms)
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label style="font-weight: inherit">CNS Symptoms</label>
                </div>
            }
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Diagnostics</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>Skin test</label>
                @Html.DropDownListFor(x => x.Patient.Skintest, Model.GetSkinTests(), new { @class = "form-control", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Chest Xray</label>
                @Html.DropDownListFor(x => x.Patient.Xray, Model.GetChestXray(), new { @class = "form-control", @id = "xray", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            @if (!string.IsNullOrEmpty(Model.Patient.XrayText))
            {
                <div class="form-group" style="padding-top: 20px;" id="xrayTextDiv">
                    <label>If others please specify</label><br />
                    @Model.Patient.XrayText
                </div>
            }
            <div class="form-group" style="padding-top: 20px">
                <label>Direct Spectrum Smear Microscopy</label>
                @Html.DropDownListFor(x => x.Patient.DirectSpectrumSmear, Model.GetDirectSputumSmearMicroscopy(), new { @class = "form-control", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Other Diagnostics</label><br />
                @Model.Patient.OtherDiagnostics
            </div>
        </div>
    </div>
    
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Treatment</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>StartDate</label>
                <label class="form-control" style="background-color: #eee; font-weight: normal;">@Model.Patient.StartDate.ToShortDateString()</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>End Date</label>
                <label class="form-control" style="background-color: #eee; font-weight: normal;">@Model.Patient.EndDate.ToShortDateString()</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Treatment</label>
                @Html.DropDownListFor(x => x.Patient.Treatment, Model.GetTreatment(), new { @class = "form-control", @id = "treatment", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            @if (!string.IsNullOrEmpty(@Model.Patient.Treatmenttext))
            { 
                <div class="form-group" style="padding-top: 20px;" id="treatmentTextDiv">
                    <label>If others please specify</label>
                    @Model.Patient.Treatmenttext
                </div>
            }


            <div class="form-group" style="padding-top: 20px">
                <label>Treatment Outcome</label>
                @Html.DropDownListFor(x => x.Patient.TreatmentOutcome, Model.GetTreatmentOutcomes(), new { @class = "form-control", @readonly = "readonly", @disabled = "disabled", style = "background-color:inherit" })
            </div>
            @if (!string.IsNullOrEmpty(Model.Patient.AdverseDrugReactions))
            { 
                <div class="form-group" style="padding-top: 20px">
                    <label>Adverse Drug Reactions</label><br />
                    @Model.Patient.AdverseDrugReactions
                </div>
            }
        </div>
    </div>
    
    <div class="form-group" style="text-align: center">
        <button type="submit" class="btn btn-danger">Edit</button>
    </div>
}
