﻿@model PPSSTC.Models.ViewModels.TbPatientViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
@using (Html.BeginForm("Edit", "TbRegistry", FormMethod.Post, new { @style = "margin: 0 auto;" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Demographics</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            @Html.HiddenFor(x => x.Patient.Id)
            <div class="form-group" style="padding-top: 20px">
                <label>First Name</label>
                @Html.TextBoxFor(x => x.Patient.FirstName, true, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Patient.FirstName)
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Middle Name</label>
                @Html.TextBoxFor(x => x.Patient.MiddleName, new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Last Name</label>
                @Html.TextBoxFor(x => x.Patient.LastName, true, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Patient.LastName)
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Age</label>
                @Html.TextBoxFor(x => x.Patient.Age, true, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Patient.Age)
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Birthday</label>
                @Html.TextBoxFor(x => x.Patient.Birthday, true, "{0:d}", new { @class = "form-control", @id = "birthday" })
                @Html.ValidationMessageFor(x => x.Patient.Birthday)
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Gender</label>
                @Html.DropDownListFor(x => x.Patient.Gender, Model.GetGender(), new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Residence</label>
                @Html.DropDownListFor(x => x.Patient.Residence, Model.GetArea(), new { @class = "form-control", @id = "residence" })
            </div>

            <div class="form-group" style="padding-top: 20px; display: none" id="residenceTextDiv">
                <label>Residence - Other</label>
                @Html.TextBoxFor(x => x.Patient.ResidenceText, new { @class = "form-control", @id = "residenceText" })
            </div>

            <div class="form-group" style="padding-top: 20px">
                <label>Attending Physician</label>
                @Html.HiddenFor(x => x.Patient.DoctorId)
                @Html.TextBoxFor(x => x.Patient.DoctorName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Comments</label>
                @Html.TextAreaFor(x => x.Patient.Comments, new { @class = "form-control" })
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">History</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>Exposure</label>
                @Html.DropDownListFor(x => x.Patient.Exposure, Model.GetExposure(), new { @class = "form-control", @id = "exposure" })
            </div>
            <div class="form-group" style="padding-top: 20px; display: none" id="exposureTextDiv">
                <label>If yes, please specify</label>
                @Html.TextBoxFor(x => x.Patient.ExposureText, new { @class = "form-control", @id = "exposureText" })
            </div>


            <div class="form-group" style="padding-top: 20px">
                <label>Disease onset</label>
                @Html.TextBoxFor(x => x.Patient.DiseaseOnset,"{0:d}", new { @class = "form-control", @id = "diseaseOnset" })
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Symptoms</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.Cough, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Persistent cough/wheezing of 2 weeks or more</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.Fever, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Unexplained fever (>38C) or 2 weeks or more</label>
            </div>
            <div class="form-group" style="padding-top: 20px">

                @Html.CheckBoxFor(x => x.Patient.LossOfAppetite, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Loss of appetite or failure to gain weight</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.FailureToRespondToAntibiotics, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Failure to repsond to 2 weeks of appropriate antibiotic therapy for lower respiratory tract infection</label>
            </div>
            <div class="form-group" style="padding-top: 20px">

                @Html.CheckBoxFor(x => x.Patient.FailureToRegainStateOfHealth, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Failure to regain previous state of health 2 weeks after viral infection or exanthem</label>
            </div>
            <div class="form-group" style="padding-top: 20px">

                @Html.CheckBoxFor(x => x.Patient.Fatigue, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Fatigue or reduced playfulness or lethargy</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.AbnominalSwelling, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Abdominal swellings, hard painless mass and free fluid</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.BoneOrJointLesions, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">Boint or Join Lesions</label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                @Html.CheckBoxFor(x => x.Patient.CnsSymptoms, new { @style = "vertical-align: top;" })
                <label style="font-weight: inherit">CNS Symptoms</label>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Diagnostics</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>Skin test</label>
                @Html.DropDownListFor(x => x.Patient.Skintest, Model.GetSkinTests(), new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Xray</label>
                @Html.DropDownListFor(x => x.Patient.Xray, Model.GetChestXray(), new { @class = "form-control", @id = "xray" })
            </div>
            <div class="form-group" style="padding-top: 20px; display: none" id="xrayTextDiv">
                <label>If others, please specify</label>
                @Html.TextBoxFor(x => x.Patient.XrayText, new { @class = "form-control", @id = "xrayText" })
            </div>

            <div class="form-group" style="padding-top: 20px">
                <label>Direct Spectrum Smear Microscopy</label>
                @Html.DropDownListFor(x => x.Patient.DirectSpectrumSmear, Model.GetDirectSputumSmearMicroscopy(), new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Other Diagnostics</label>
                @Html.TextAreaFor(x => x.Patient.OtherDiagnostics, new { @class = "form-control" })
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Diagnosis <a href="@Url.Action("diagnosis", "static")" target="_blank">[?]</a></strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>Diagnosis:</label>
                TB Disease 
            </div>
        </div>
    </div>  
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="maroon">Treatment</strong>
        </div>
        <div style="max-width: 650px; margin: 0 auto;">
            <div class="form-group" style="padding-top: 20px">
                <label>StartDate</label>
                @Html.TextBoxFor(x => x.Patient.StartDate,"{0:d}", new { @class = "form-control", @id = "startDate" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>End Date</label>
                @Html.TextBoxFor(x => x.Patient.EndDate,"{0:d}", new { @class = "form-control", @readOnly = "readOnly", @id = "endDate" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Treatment</label>
                @Html.DropDownListFor(x => x.Patient.Treatment, Model.GetTreatment(), new { @class = "form-control", @id = "treatment" })
            </div>
            <div class="form-group" style="padding-top: 20px; display: none" id="treatmentTextDiv">
                <label>If others, please specify</label>
                @Html.TextBoxFor(x => x.Patient.Treatmenttext, new { @class = "form-control", @id = "treatmentText" })
            </div>

            <div class="form-group" style="padding-top: 20px">
                <label>Treatment Outcome</label>
                @Html.DropDownListFor(x => x.Patient.TreatmentOutcome, Model.GetTreatmentOutcomes(), new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>If with advesrse drug reaction, please indicate the symptom or reaction and its onset</label>
                @Html.TextAreaFor(x => x.Patient.AdverseDrugReactions, new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding-top: 20px">
                <label>Reported to the government?</label>
                @Html.DropDownListFor(x => x.Patient.Government, Model.GetGovernment(), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <button type="submit" class="btn btn-danger">Save Changes</button>
    </div>
}

<script>
    $(function () {
        $("#startDate").datepicker({
            changeYear: true,
            yearRange: "1990:2020"
        });
        $("#birthday").datepicker({
            changeYear: true,
            yearRange: "1990:2020"
        });
        $("#diseaseOnset").datepicker({
            changeYear: true,
            yearRange: "1990:2020"
        });
    });

    $("#startDate").on("change", function (e) {
        var val = $("#startDate").datepicker("getDate");
        var endDate = new Date(new Date(val).setMonth(val.getMonth() + 6));
        var dd = endDate.getDate();
        var mm = endDate.getMonth() + 1;//January is 0! 
        var yyyy = endDate.getFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        $("#endDate").val(mm + '/' + dd + '/' + yyyy);
    });

    $("#exposure").on("change", function (e) {
        var newValue = $("#exposure").val();
        if (newValue == "True") {
            $("#exposureTextDiv").show();
        } else {
            $("#exposureTextDiv").hide();
            $("#exposureText").val('');
        }
    });

    $("#residence").on("change", function (e) {
        var newValue = $("#residence").val();
        if (newValue == "Others") {
            $("#residenceTextDiv").show();
        } else {
            $("#residenceTextDiv").hide();
            $("#residenceText").val('');
        }
    });

    $("#xray").on("change", function (e) {
        var newValue = $("#xray").val();
        if (newValue == "Others") {
            $("#xrayTextDiv").show();
        } else {
            $("#xrayTextDiv").hide();
            $("#xrayText").val('');
        }
    });

    $("#treatment").on("change", function (e) {
        var newValue = $("#treatment").val();
        if (newValue == "Others") {
            $("#treatmentTextDiv").show();
        } else {
            $("#treatmentTextDiv").hide();
            $("#treatmentText").val('');
        }
    });
</script>
