﻿@model PPSSTC.Models.ViewModels.TbListViewModel

@{
    ViewBag.Title = "TB Registry";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    @@media (max-width: 991px) {
        .mobile {
            display: none !important;
        }
    }

     @@media (max-width: 990px) {
        .smallonly {
            display: inline !important;
        }
    }

    .searchBox {
        margin: 0 auto;
        max-width: 900px;
    }
</style>
<div class="page-header">
    <div class="jumbotron" style="text-align: center">
        <div class="container">
            <div class="container">
                <img src="~/css/images/hero.png" class="mobile" />
                <img src="~/css/images/herotall.png" style="display:none" class="smallonly" />
                <p>Some helpful links</p>
                <p><a type="button" class="btn btn-primary" style="display: inline" href="@Url.Action("Add", "TbRegistry")">Add new record to the registry</a> <a type="button" class="btn btn-primary" style="display: inline" target="_blank" href="@Url.Action("Diagnosis", "Static")">How to diagnose TB Patients</a>  <a type="button" class="btn btn-primary" style="display: inline" target="_blank"href="@Url.Action("TreatmentOutcomes", "Static")">Possible treatment outcomes</a></p>
            </div>
        </div>
    </div>

    <div class="searchBox">
        <div class="container">
            @using (Html.BeginForm("Search", "TbRegistry", FormMethod.Get, new { @id = "searchForm", @style = "max-width:900px;padding-left: 0px; padding-right: 0px" }))
            {
                @Html.HiddenFor(x => x.Page, new { @id = "page" })
                <div class="row">
                    <div class="col-md-11">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeHolder = "Name" })
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" style="float: right">Search</button>
                    </div>
                </div>
            }

            <a type="button" class="btn" style="display: inline" href="@Url.Action("Add", "TbRegistry")">Add new record</a>
             @if (HttpContext.Current.Request.Cookies.Get("role") != null && HttpContext.Current.Request.Cookies.Get("role")
                            .Value == "administrator")
                        {
            <a type="button" class="btn" style="display: inline" href="@Url.Action("Exportdata", "TbRegistry")">Export data</a>
             }
        </div>
    </div>
</div>

<div id="notifications">
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">TB Registry</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row mobile">
                <div class="col-md-9"><strong>Name</strong></div>
                <div class="col-md-3"></div>
            </div>
            @if (Model.Patients != null && Model.Patients.Any())
            {
                foreach (var patient in Model.Patients)
                {
                <div class="row rowdata">
                    <div class="col-md-9">@patient.LastName, @patient.FirstName @patient.MiddleName</div>
                    <div class="col-md-3">
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Details", "TbRegistry", new { @id = patient.Id.Split('/')[1] })">View</a>
                        <a type="button" class="btn" style="display: inline" href="@Url.Action("Edit", "TbRegistry", new { @id = patient.Id.Split('/')[1] })">Edit</a>
                        <a type="button" class="btn delete" style="display: inline" href="#" data-name="@patient.LastName, @patient.FirstName @patient.MiddleName" data-id="@patient.Id">Delete</a>
                    </div>
                </div>
            
                }
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        @{
                var start = Model.Page != 1 ? ((Model.Page - 1) * Model.PageSize) + 1 : 1;
                var end = Model.Page != 1 ? ((Model.Page) * Model.PageSize) : Model.PageSize;
                        }
                        Showing results: @start ~ @end of @Model.TotalCount
                    </div>
                </div>
                <div class="row">
                    <nav>
                        <ul class="pager">
                            <li class="previous" id="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous</a></li>
                            <li class="next" id="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        There is no data in the TB Registry. Click the Add new record link above to get started.
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="text-align:center">
                    <img src="~/css/images/natrapham.png" /></div>
                <div class="col-md-4" style="text-align:center">
                    <img src="~/css/images/KIDZKIT-2.png" /></div>
                <div class="col-md-4" style="text-align:center">
                    <img src="~/css/images/KIDZKIT-3.png" /></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="selectedMember">

<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="max-width: 500px">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Are you sure you want to delete the record for</p>
                            <label id="deleteName"></label>
                            <p>
                                Note that this cannot be undone and once a record is deleted it can not be recovered.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="@Url.Action("Delete")" method="post">
                        <input type="hidden" name="id" id="idToDelete" />
                        <input type="submit" class="btn btn-primary" id="deleteConfimButton" value="Delete"></input>

                        <button type="button" class="btn btn-danger" id="deleteCancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $(".delete").on("click", function (e) {
            $("#deleteName").text($(this).data("name"));
            $("#idToDelete").val($(this).data("id"))

            $("#deleteConfirm").modal("show");
        });

        $("#deleteCancel").on("click", function (e) {
            $("#deleteConfirm").modal("hide");
        });

        $("#previous").on("click", function (e) {
            var currentPage = $("#page").val();
            if (currentPage != 1) {
                currentPage--;
            }
            $("#page").val(currentPage);
            $("#searchForm").submit();
        });

        $("#next").on("click", function (e) {
            var currentPage = $("#page").val();
            currentPage++;
            $("#page").val(currentPage);
            $("#searchForm").submit();
        });

        $(".rowdata:even").css("background-color", "rgb(245, 245, 245)")
    });
</script>
