﻿@model PPSSTC.Models.ViewModels.EditMemberModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_Layout.cshtml";
}
@using PPSSTC

<div class="panel panel-default" style="margin-right: 25px; margin-left: 25px">
    <div class="panel-heading">
        <h3 class="panel-title">Member Information</h3>
    </div>
    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { @class = "" }))
    {        
        <div class="form-group">
            <label>First Name</label>
            @Html.TextBoxFor(x => x.Member.FirstName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Middle Name</label>
            @Html.TextBoxFor(x => x.Member.FirstName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Last Name</label>
            @Html.TextBoxFor(x => x.Member.FirstName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>PRC Number</label>
            @Html.TextBoxFor(x => x.Member.PRC, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>PMA Number</label>
            @Html.TextBoxFor(x => x.Member.PMA, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Philhealth Accreditation Number</label>
            @Html.TextBoxFor(x => x.Member.PhilHealth, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Status</label>
             @Html.DropDownListFor(x => x.Member.Status,Model.GetStatus(), new { @class = "form-control"})
        </div>
        
        <div class="form-group">
            <label>Subspecialty</label>
            @* @Html.DropDownListFor(x => x., new { @class = "form-control"})*@
        </div>
        
        <div class="form-group">
            <label>Area</label>
            @* @Html.DropDownListFor(x => x., new { @class = "form-control"})*@
        </div>
        
        <div class="form-group">
            <label>Date of Birth</label>
            @Html.TextBoxFor(x => x.Member.DateOfBirth, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Email</label>
            @Html.TextBoxFor(x => x.Member.Email, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <label>Mobile</label>
            @Html.TextBoxFor(x => x.Member.MobileNumber, new { @class = "form-control" })
        </div> 
        
        <div class="form-group">
            <label>Comments</label>
            @Html.TextAreaFor(x => x.Member.Comments, new { @class = "form-control" })
        </div>  

        <button type="submit" class="btn btn-default">Sign in</button>
    }
</div>
