﻿@model PPSSTC.Models.Member
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-header">
  <h1 style="margin-right:25px;margin-left:25px">@Model.FirstName @Model.MiddleName @Model.LastName </h1>
</div>

<div class="panel panel-default" style="margin-right:25px;margin-left:25px">
  <div class="panel-heading">
    <h3 class="panel-title">Member Information</h3> 
  </div>
  <div class="panel-body" >
      <span style="display:block"><strong>Email:</strong>@Model.Email</span>
      <span style="display:block"><strong>Mobile Number:</strong>@Model.MobileNumber</span>
      <span style="display:block"><strong>Subspecialty:</strong>@Model.Subspecialty</span>
      <span style="display:block"><strong>Status:</strong>@Model.Status</span>
      <span style="display:block"><strong>PRC:</strong>@Model.PRC</span>
      <span style="display:block"><strong>PhilHealth:</strong>@Model.PhilHealth</span>
      <span style="display:block"><strong>Date of Birth:</strong>@Model.DateOfBirth.ToShortDateString()</span>
      <span style="display:block"><strong>Area:</strong>@Model.Area</span>
      <span style="display:block"><strong>Comments:</strong>@Model.Comments</span>
      <a type="button" class="btn btn-default navbar-btn" href="@Url.Action("Edit", new {@id=Model.Id.Split('/')[1] })">Edit</a>
  </div>
</div>

<div class="panel panel-default" style="margin-right:25px;margin-left:25px">
  <div class="panel-heading">
    <h3 class="panel-title">CPD Credits</h3>
  </div>
  <div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies, massa a mattis porttitor, lectus felis vulputate tellus, at placerat leo quam sed lorem. Aliquam erat volutpat. Integer nunc diam, consectetur vitae venenatis id, sagittis eget nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum accumsan ipsum, ac faucibus diam mollis in. Nam sagittis lacus ac quam sollicitudin, ut condimentum diam venenatis. Etiam vulputate velit nec lacinia rutrum. Praesent nec libero libero. Sed est eros, rutrum iaculis tellus ac, laoreet accumsan purus. Integer aliquam tortor id vulputate placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nam sed semper metus. Nunc facilisis metus et leo molestie iaculis. Proin felis elit, semper non facilisis sit amet, maximus vel nisi. Pellentesque et sapien varius, consectetur leo quis, tincidunt metus. Quisque sit amet diam tincidunt, blandit lectus et, egestas neque. Mauris egestas venenatis turpis, non blandit ex vehicula vel. Suspendisse nec consequat erat, sed fringilla eros.

Morbi non ornare dolor, sed vestibulum metus. Integer at lorem tellus. Vivamus varius lacus vitae libero ornare, sed pretium quam hendrerit. Maecenas tincidunt tellus eget est auctor, vitae sollicitudin ante tincidunt. Nam diam justo, pretium et tempus ac, pretium sit amet eros. Donec rutrum elementum mauris a posuere. Etiam efficitur ante ex, vel sagittis odio dapibus et. Aenean elementum eget neque id vehicula. In quis dui aliquet neque aliquam mollis. Maecenas sodales purus quis massa blandit pulvinar. Nam sed massa hendrerit, hendrerit felis sit amet, finibus est. Nulla nibh nibh, maximus ac luctus non, dapibus vitae odio. Integer pellentesque placerat ligula, quis tristique dolor porttitor et.

Nulla sit amet malesuada ante. Sed ac mi non est cursus tristique nec a elit. Ut at mollis nulla. Mauris a est at leo laoreet suscipit vitae id sem. Nunc ac vestibulum odio, et interdum nisi. Sed vel dolor et velit tincidunt finibus sit amet non felis. Fusce lacus orci, ornare ac libero eleifend, maximus tempus eros.

Suspendisse potenti. Suspendisse pulvinar ipsum sem, sed convallis lectus venenatis id. Sed convallis, diam at vulputate feugiat, metus enim gravida arcu, vel accumsan odio risus at enim. Curabitur semper consectetur nisi, at pharetra neque mattis at. Donec vitae tellus at tellus accumsan hendrerit vitae at lacus. Etiam hendrerit magna ac nibh ultricies vestibulum. Aliquam erat volutpat. Nullam mattis, tortor at porttitor accumsan, velit ipsum cursus turpis, quis consequat enim ex consectetur justo. Etiam lobortis consequat ex ac pulvinar. Pellentesque sodales cursus bibendum. Vestibulum pellentesque felis diam, sed commodo lacus mattis quis. Donec eleifend mi id mi lacinia pellentesque.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse quis rhoncus tellus. Proin egestas arcu ultrices, scelerisque tortor non, fermentum mauris. Nulla lobortis efficitur sem non ullamcorper. Duis et posuere sem. Morbi ultrices nec massa non pellentesque. Phasellus risus purus, efficitur vitae enim vitae, vehicula lobortis ipsum. Etiam sed elementum nulla. Aenean porta nulla ipsum, id viverra velit pulvinar id. Morbi at ex congue, posuere lorem ut, molestie est. Nam blandit, tortor eu rutrum hendrerit, tortor lectus vulputate ipsum, vitae sagittis felis sapien eget mauris. Pellentesque dignissim lacus ac risus sagittis iaculis. Fusce non turpis ac purus sollicitudin tempor vel vel dolor. Aliquam quis aliquet est. Fusce cursus a lacus ut accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
</div>

<div class="panel panel-default" style="margin-right:25px;margin-left:25px">
  <div class="panel-heading">
    <h3 class="panel-title">Payment History</h3>
  </div>
  <div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies, massa a mattis porttitor, lectus felis vulputate tellus, at placerat leo quam sed lorem. Aliquam erat volutpat. Integer nunc diam, consectetur vitae venenatis id, sagittis eget nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum accumsan ipsum, ac faucibus diam mollis in. Nam sagittis lacus ac quam sollicitudin, ut condimentum diam venenatis. Etiam vulputate velit nec lacinia rutrum. Praesent nec libero libero. Sed est eros, rutrum iaculis tellus ac, laoreet accumsan purus. Integer aliquam tortor id vulputate placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nam sed semper metus. Nunc facilisis metus et leo molestie iaculis. Proin felis elit, semper non facilisis sit amet, maximus vel nisi. Pellentesque et sapien varius, consectetur leo quis, tincidunt metus. Quisque sit amet diam tincidunt, blandit lectus et, egestas neque. Mauris egestas venenatis turpis, non blandit ex vehicula vel. Suspendisse nec consequat erat, sed fringilla eros.

Morbi non ornare dolor, sed vestibulum metus. Integer at lorem tellus. Vivamus varius lacus vitae libero ornare, sed pretium quam hendrerit. Maecenas tincidunt tellus eget est auctor, vitae sollicitudin ante tincidunt. Nam diam justo, pretium et tempus ac, pretium sit amet eros. Donec rutrum elementum mauris a posuere. Etiam efficitur ante ex, vel sagittis odio dapibus et. Aenean elementum eget neque id vehicula. In quis dui aliquet neque aliquam mollis. Maecenas sodales purus quis massa blandit pulvinar. Nam sed massa hendrerit, hendrerit felis sit amet, finibus est. Nulla nibh nibh, maximus ac luctus non, dapibus vitae odio. Integer pellentesque placerat ligula, quis tristique dolor porttitor et.

Nulla sit amet malesuada ante. Sed ac mi non est cursus tristique nec a elit. Ut at mollis nulla. Mauris a est at leo laoreet suscipit vitae id sem. Nunc ac vestibulum odio, et interdum nisi. Sed vel dolor et velit tincidunt finibus sit amet non felis. Fusce lacus orci, ornare ac libero eleifend, maximus tempus eros.

Suspendisse potenti. Suspendisse pulvinar ipsum sem, sed convallis lectus venenatis id. Sed convallis, diam at vulputate feugiat, metus enim gravida arcu, vel accumsan odio risus at enim. Curabitur semper consectetur nisi, at pharetra neque mattis at. Donec vitae tellus at tellus accumsan hendrerit vitae at lacus. Etiam hendrerit magna ac nibh ultricies vestibulum. Aliquam erat volutpat. Nullam mattis, tortor at porttitor accumsan, velit ipsum cursus turpis, quis consequat enim ex consectetur justo. Etiam lobortis consequat ex ac pulvinar. Pellentesque sodales cursus bibendum. Vestibulum pellentesque felis diam, sed commodo lacus mattis quis. Donec eleifend mi id mi lacinia pellentesque.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse quis rhoncus tellus. Proin egestas arcu ultrices, scelerisque tortor non, fermentum mauris. Nulla lobortis efficitur sem non ullamcorper. Duis et posuere sem. Morbi ultrices nec massa non pellentesque. Phasellus risus purus, efficitur vitae enim vitae, vehicula lobortis ipsum. Etiam sed elementum nulla. Aenean porta nulla ipsum, id viverra velit pulvinar id. Morbi at ex congue, posuere lorem ut, molestie est. Nam blandit, tortor eu rutrum hendrerit, tortor lectus vulputate ipsum, vitae sagittis felis sapien eget mauris. Pellentesque dignissim lacus ac risus sagittis iaculis. Fusce non turpis ac purus sollicitudin tempor vel vel dolor. Aliquam quis aliquet est. Fusce cursus a lacus ut accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
</div>

