﻿@model PPSSTC.Models.ViewModels.MemberListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    @@media (max-width: 991px) {
        .mobile {
            display: none !important;
        }
    }

    .rowData {
    padding-top:10px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Diagnosis</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row mobile">
                <div class="col-md-3"><strong></strong></div>
                <div class="col-md-3"><strong>TB Exposure</strong></div>
                <div class="col-md-3"><strong>TB Infection</strong></div>
                <div class="col-md-3"><strong>TB Disease</strong></div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>Exposure</strong></div>
                <div class="col-md-3">Yes</div>
                <div class="col-md-3">Yes</div>
                <div class="col-md-3">Yes</div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>Signs & Symptoms</strong></div>
                <div class="col-md-3">None</div>
                <div class="col-md-3">None</div>
                <div class="col-md-3">Positive</div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>TST (Tuberculin Skin Test)</strong></div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Positive</div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>CXR</strong></div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Positive</div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>DSSSM (Direct Spectrum Smear Microscopy)</strong></div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Positive or Negative</div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>Other Diagnostics</strong></div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Negative</div>
                <div class="col-md-3">Negative</div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".rowdata:even").css("background-color", "rgb(245, 245, 245)")
    });
</script>
