﻿@model PPSSTC.Models.ViewModels.MemberListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    @@media (max-width: 991px) {
        .mobile {
            display: none !important;
        }
    }

     @@media (max-width: 990px) {
        .smallonly {
            display: inline !important;
        }
    }


    .rowData {
    padding-top:10px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Diagnosis</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row" style="text-align:center">
                <img src="~/css/images/diagnosis.png" class="mobile"/>
            </div>
            <div class="row" style="text-align:center">
                <img src="~/css/images/diag1.png" style="display:none" class="smallonly"/>
            </div>
            <div class="row" style="text-align:center">
                <img src="~/css/images/diag2.png" style="display:none" class="smallonly"/>
            </div>
            <div class="row" style="text-align:center">
                <img src="~/css/images/diag3.png" style="display:none" class="smallonly"/>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".rowdata:even").css("background-color", "rgb(245, 245, 245)")
    });
</script>
