﻿@model PPSSTC.Models.ViewModels.MemberListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    @@media (max-width: 991px) {
        .mobile {
            display: none !important;
        }
    }

    .rowData {
        padding-top: 10px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="maroon">Treatment outcomes of TB Disease in Children</strong>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row rowdata">
                <div class="col-md-3"><strong>Cured</strong></div>
                <div class="col-md-9">
                    Completed treatment with
                    <br />
                    - Resolution of s/s, + weight gain, improved general well being
                    <br />
                    - Sputum AFB negative in the continuation phase (for registered sputum positive patient)
                </div>
            </div>
            <div class="row rowdata">
                <div class="col-md-3"><strong>Completed Treatment</strong></div>
                <div class="col-md-9">
                    Completed treatment but cannot be classified as cured or failure
                </div>
            </div>

            <div class="row rowdata">
                <div class="col-md-3"><strong>Defaulted</strong></div>
                <div class="col-md-9">
                    Interrupted treatment for 2 months or more
                </div>
            </div>
            <div class="row rowdata">
                <div class="col-md-3"><strong>Died</strong></div>
                <div class="col-md-9">
                    Died for any reason during treatment
                </div>
            </div>
            <div class="row rowdata">
                <div class="col-md-3"><strong>Failed</strong></div>
                <div class="col-md-9">
                    - Registered as sputum AFB(-) but becomes sputum AFB(+) during treatment<br />
                    - Registered as sputum AFB(+) and still (+) at 5 months or later during treatment
                    <br />
                    - Newly diagnosed child whose s/s persisted, no weight gain and has not improved general well being after 6 months of treatment 
                </div>
            </div>
             <div class="row rowdata">
                <div class="col-md-3"><strong>Transferred out</strong></div>
                <div class="col-md-9">
                    Transferred to another health facility with proper referral slip of continuation of treatment, but treatment outcome is unknown
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".rowdata:even").css("background-color", "rgb(245, 245, 245)")
    });
</script>
